.portada-container{
    height: 450px;
    background-image: url(../assets/img/portada1.jpg);
    background-attachment: fixed;
    background-size: cover;
    border-bottom:solid 5px #9cb414;
}





.titulo__portada{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 150px;
    width: 90%;
}

.titulo__portada h1,h2{
    color: rgba(156, 180, 20, 0);
    font-size: 40px;
    font-weight: 100;
    -webkit-text-stroke:1px rgb(255, 255, 255);
}

.titulo__portada span{
    color:#9cb414;
    font-family: "oswald";
    font-weight: 100;
    font-size: 55px;
    -webkit-text-stroke:0px rgba(161, 255, 192, 0);
}
body{
    background-color: black;

}

.estudios-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../assets/img/fondo-estudios.jpg);
  background-attachment: fixed;
  background-size: cover;
  


}


.diploma{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
    padding: 30px;
    width: 400px;
    background-color: rgba(71, 71, 71, 0.575);
    border-radius: 20px;
    margin-bottom: 50px;
}

.diploma img{
    margin-right: 30px;
    margin-bottom: 10px;
}

.cursos__img{
    width: 70px;
    background-color: white;
    border-radius: 50%;
}


.diploma a{
    margin-right: 30px;
    margin-top: 30px;
    font-size: 30px;
    transition: 0.5s;
    color:rgb(156, 180, 20);
}

.diploma h3{
    color: rgb(156, 180, 20);
}

.diploma a:hover{
    color: white;
}


.cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    margin-top: 30px;
    max-width: 300px;
    padding: 30px;
    height: 150px;
    border-radius: 20px;
    text-align: center;

}

.card__title h3{
    font-size: 22px;
    font-weight: 500;
    color: rgb(156, 180, 20);
}
.card__info h4{
    font-weight: 200;
    font-size: 18px;
}

.tools_slide{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 110px;
    background-color: rgb(102, 102, 102) ;

}

.tools_slide i{
    font-size: 70px;
}