.portada-container{
    position: relative;
   
}

.video{
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 100px;
}



.titulo__portada{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 110px;
    width: 90%;
}

.titulo__portada h1,h2{
    color: rgba(156, 180, 20, 0);
    font-size: 40px;
    font-weight: 500;
    -webkit-text-stroke:1px rgb(255, 255, 255);
}

.titulo__portada span{
    color:rgba(133, 255, 153, 0.698);
    font-family: "oswald";
    font-weight: 400;
    font-size: 55px;
    -webkit-text-stroke:0px rgba(161, 255, 192, 0);
}
body{
    background-color: black;

}

.estudios-container{
    margin: 0 30px;
}


.diploma{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
    padding: 30px;
}

.diploma img{
    margin-right: 30px;
}

.cursos__img{
    width: 70px;
    background-color: white;
    border-radius: 50%;
}


.diploma a{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 30px;
    transition: 0.5s;
    color:rgb(156, 180, 20);
}

.diploma h3{
    color: rgb(156, 180, 20);
}

.diploma a:hover{
    color:rgb(146, 44, 177);
}

.card-container{
    margin: 30px;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card{
    margin-top: 30px;
    max-width: 300px;
    padding: 30px;
    height: 150px;
    border-radius: 20px;
    text-align: center;

}

.card__title h3{
    font-size: 22px;
    font-weight: 500;
    color: rgb(156, 180, 20);
}
.card__info h4{
    font-weight: 200;
    font-size: 18px;
}

.tools_slide{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 110px;
    background-color: rgb(102, 102, 102) ;

}

.tools_slide i{
    font-size: 70px;
}