@media  (max-width: 760px) {
    //PORTADA

    .titulo{
        text-align: center;
        display: block;
        margin-top: 40px;
    }
    .video{
        height: 200px;
        
    }
    .titulo__portada{
        justify-content: center;
        align-items: center;
        width: 100%;

    }
    .titulo__portada span{
        color:rgb(156, 180, 20);
        -webkit-text-stroke: 0.1px rgb(156, 180, 20);
        font-size: 40px;
    }
    .titulo__portada h1, h2{
        font-size: 30px;
        text-align: center;

    }
    .titulo__portada span{
        font-size: 40px;
    }
    // Mi Formación

    .diploma{
        justify-content: center;
        text-align: center;
    }

    .diploma img{
        width: 80px;
        margin-bottom: 30px;
        margin-right: 0;
    }
    .diploma a{
        margin-left: 0;
        font-size: 40px;
        text-align: center;
    }




    //Dónde trabajo
    .card-container{
        text-align: center;
    }
    .cards{
        justify-content: center;
    }

    //tools

    .tools_slide i{
        font-size: 35px;
    }
}